<div id="pest2">
    <table>
        <tr>
            <th>Numero</th>
            <th>Cliente</th>
            <th>Productos</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
        <% for (let index = 0; index < clientes.length; index++) { %>
        <tr>
        <% if(estados[index] === "solicitado") { %>
            <td><%=index+1%></td>
            <td><%=clientes[index]%></td>
            <td><%=total[index]%></td>
            <td><%=fechas[index]%></td>
            <td><a href="/lookup?_id=<%=ids[index]%>">Ver</a></td>
         <% } %>
        </tr>
        <% } %>
    </table>
</div>