<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pedidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <script src="tab.js" defer></script>
</head>
<body>
    <h1 class="title">Pedidos</h1>
    <a href="/nuevo"><button class="but">Crear nuevo</button></a>
    <div class="container">
        <ul class="tab">
            <li><button data-id="1">Borradores</button></li>
            <li><button data-id="2" class="active">Solicitados</button></li>
            <li><button data-id="3">Completados</button></li>
        </ul>
        <%- include partials/borrador %>
        <%- include partials/solicitado %>
        <%- include partials/completado %>
    </div>
</body>
</html>