<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pedidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="view.css" />
</head>
<body>
    <h1 class="title">Pedido</h1>
        <div id="generalData">
        <label for="client">Cliente:</label>
        <span><%=order.client%></span></br>
    
        <label>Estado: </label>
        <span>Solicitado <%=order.date%></span></br>
        </div>
        <table class="list">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <% for( const product of order.list )  { %>
            <tr>    
                <td><%=product[0]%></td>
                <td><%=product[1]%></td>
            </tr>
            <% } %>
        </table>
    <h3><strong>CONTEO PRODUCTOS:<span id="total"><%=order.total%></span></strong></h3>
</body>
<html>