body{
    background: #DBEDF3;
}
body h1{
    text-align: center;
    background: #00818A;
    height: 50px;
    border-radius: 50%;
    color: #DBEDF3;
}
body .but {
    font-size: 20x;
    padding: 14px 28px;
    margin-left: 82%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

body .but:hover {
    background-color: #f1f1f1;
}
.container {
    margin: auto;
    width: 85%;
    height: 40%;
    margin-top: 5%;
    border: 2px solid black;
}

li {
    display: inline-block;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #404B69;
    margin-top: auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #ffffff;
    border-radius: 50%;
}

.tab button.active {
    background-color: #6979b3;
}

.tab button:hover:not(.active) {
    background-color: #283149;
}

.hidden {
    display: none;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #f1f1f1;
    text-align: left;
    padding: 8px;
}

td {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ccc;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ccc;
    color: #404B69;
}