body{
    background: #DBEDF3;
}
body h1{
    text-align: center;
    background: #00818A;
    height: 50px;
    border-radius: 50%;
    color: #DBEDF3;
}

body #but1 {
    margin-left: 70%;
}

#generalData{
    font-size: 1.25em;
    margin: 20px 0;
}
#generalData span{
    color: #404B69;
}
#generalData label{
    font-weight: bold;
}

body .but {
    font-size: 20x;
    padding: 14px 28px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
}

body .but:hover {
    background-color: #f1f1f1;
}

input[type=text],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table #add, .drop {
    font-size: 20x;
    padding: 14px 28px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
}

table #add:hover {
    background-color: #f1f1f1;
}

table .drop:hover {
    background-color: #f1f1f1;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table tr{
    background-color: #404B69;
}
td, th {
    border: 1px solid #f1f1f1;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ccc;
    color: #404B69;
}

body h3{
    margin-left: 70%;
    display: inline;
}